mixin videoBlock(video={})
    .videoBlock
        a(href=routes.videoDetail(video.id))
            video.videoBlock__thumnail(src=video.videoFile, controls=false)
            h4.videoBlock__title=video.title
            if video.views === 1
                h6.videoBlock_views 조회수 1
            else
                h6.videoBlock_views 조회수 #{video.views}